.contact{

    &_container{
        display: flex;
        align-items: center;
        gap: 2rem;

        &_left{
            flex: 1;
            text-align: right;

            h2{
                color: white;
                font-family: $font_title;
                margin: 0;
                // margin-top: 1rem;
                font-size: 10rem;
                text-shadow: 2px 2px 5px $color-five;
            }
        }

        &_right{
            flex: 1;
        }
    }
}