.gallery{
    padding: 0 1.5rem 0 1.5rem;
    &_container{
        background-color: $color-two;

        h2{
            margin-left: 3rem;
        }

        &-grid{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));  /* Responsive grid */
            gap: 20px;                         /* Space between images */
            max-width: 1200px;                  /* Set max width */
            margin: 0 auto; 
            padding-bottom: 1rem;  

            img{
                width: 100%;
                height: auto;                       /* Maintain aspect ratio */
                object-fit: cover;                  /* Ensure the image covers the area */
                border-radius: 10px;                /* Rounded corners */
                transition: transform 0.3s ease;    /* Smooth hover effect */
            }

            img:hover{
                transform: scale(1.05);
            }
        }
    }
}