.history {
    padding: 0 1.5rem 0 1.5rem;

    &_container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: $color-two;
        border-radius: 5px;

        @media only screen and (max-width: $bp-largest) {
            flex-direction: column;
        }

        &_left {
            flex: 1;
            text-align: center;
            align-self: center;

            h2 {
                color: white;
                font-family: $font_title;
                margin: 0;
                margin-top: 2rem;
                line-height: 1; 
                font-size: 6rem;
                text-shadow: 2px 2px 5px $color-five;
            }

            &_container{
                padding-top: 0.5rem;
                padding-left: 1.5rem;
                padding-right: 1.5rem;
            }
        }

        &_right {
            flex: 1;
            align-self: center;
            text-align: center;

            &_img{
                margin: auto;
                margin-bottom: 0;
                overflow: hidden;
                width: 80%;
                height: 70%;
                border-radius: 15px;
                box-shadow: 5px 5px 5px rgb(44, 44, 44);
                background-color: red;

                transform: rotate(-5deg);
            }
        }
    }
    &_text{
        font-size: 2rem;
        margin: auto;
        padding: 2rem;
        font-weight: bold;
        color: $color-one;
    }

    &_video{
        width: 100%;
        height: 100%;
        object-fit: cover
    }

    &_image{
        // border-radius: 10px;
        width: 100%;
        display: block;
        // height: 101%;
    }
}