.locations{
    padding: 0 1.5rem 0 1.5rem;
    
    &_container{
        // width: 100vw;
        background-color: $color-two;
        text-align: center;
        overflow-x: hidden;
        border-radius: 5px;

        h2{
            color: white;
            font-family: $font_title;
            margin: 0;
            // margin-top: 1rem;
            font-size: 6rem;
            text-shadow: 2px 2px 5px $color-five;
        }

        &_cards{
            display: flex;
            justify-content: space-evenly;
            padding-bottom: 5rem;

            @media only screen and (max-width: $bp-large) {
                flex-direction: column;
            }

            &-card{
                max-width: 25rem;
                // height: 22rem;
                flex: 1;
                // background: 
                //     linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),  /* Color overlay with opacity */
                //     url('../resources/casagrande1.jpg') no-repeat center/cover; 
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                box-shadow: 5px 5px 5px rgb(44, 44, 44);

                &-title{
                    display: flex;
                    height: 8rem;
                    align-items: center;     /* vertical alignment */
                    justify-content: center; /* optional: horizontal alignment */
                }

                &-address{
                    display: flex;
                    height: 6rem;
                    align-items: center;     /* vertical alignment */
                    justify-content: center; /* optional: horizontal alignment */
                }

                @media only screen and (max-width: $bp-large) {
                    min-width: 30rem;
                    margin: auto;
                    margin-bottom: 3rem;
                }

                h3{
                    font-family: $font_title;
                    font-size: 4rem;
                    margin: 0;
                    line-height: 1;
                    color: $background-color;
                }

                p{
                    font-size: 2rem;
                    font-weight: bold;
                    margin: 0;
                    color: white;
                }

                button{
                    // width: 10rem;
                    padding: 10px;
                    margin: auto;
                    margin-bottom: 5px;
                    margin-top: 15px;
                    font-size: 2rem;
                }
            }
        }
    }

}

.card-1{
    background: 
        linear-gradient(rgba(189, 202, 115, 0.5), rgba(189, 202, 115, 0.5)),  /* Color overlay with opacity */
        url('../resources/casagrande1.jpg') no-repeat center/cover; 
}

.card-2{
    background: 
        linear-gradient(rgba(189, 202, 115, 0.5), rgba(189, 202, 115, 0.5)),  /* Color overlay with opacity */
        url('../resources/casagrande2.jpg') no-repeat center/cover; 
}

.card-3{
    background: 
        linear-gradient(rgba(189, 202, 115, 0.5), rgba(189, 202, 115, 0.5)),  /* Color overlay with opacity */
        url('../resources/tucsonaz.jpg') no-repeat center/cover; 
}